@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');


* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 30px;
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-container2 {
  margin-left: 26px;
}

.hero-pic {
  margin: 0 auto;
  margin-top: 26px;
  width: 395px;
  height: 232px;
}

.hero-header {
  margin-top: 36px;
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
}

.hero-paragraph {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  width: 320px;
}

.card-container {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.katie-pic {
  width: 176px;
  height: 235px;
  margin-top: 49px;
  margin-left: 37px;
}

.star {
  width: 14px;
  height: 14px;
}

.sold-out-box {
  position: absolute;
  width: 61px;
  font-size: 10px;
  line-height: 11px;
  padding: 5px;
  text-align: center;
  border-radius: 2px;
  background-color: white;
  top: 55px;
  left: 4px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.ratings-container {
  display: inline-flex;
  gap: 2px;
}

.card-info-container {
  margin-top: 8px;
  margin-left: 36px;
  margin-bottom: 36px;
  font-weight: 300;
  font-size: 12px;
  line-height: 13px;
}

.rating {
  color: #222222;
}

.rating-two {
  color: #918E9B;
}

.usa {
  color: #918E9B;
}

.card-title {
  margin-top: 8px;
  color: #222222;
}

.card-info {
  margin-top: 8px;
  color: #222222;
}

.price {
  font-weight: 600;
}

@media all and (max-width: 400px) {
  nav {
    width: 400px;
  }
}